body
{
	background-color: #707070;
	font-family: 'Lato', sans-serif;
}

#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#logo
{
	font-family: 'Kalam', cursive;
	font-size: 70px;
	color: #00D0E5;
	text-align: center;
}

#menu
{
	background-color: #303030;
	margin-top: 40px;
	color: white;
	padding: 10px;
}

.option
{
	float: left;
	height: 25px;
	font-size: 18px;
	padding: 10px;
	border-right: 2px dashed #444444;
}

.option:hover
{
	background-color: green;
	cursor: pointer;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.h1
{
	text-align: center;
	font-size: 35px;
}

.wiki
{
	text-align: center;
}

.wiki:hover
{
	cursor: pointer;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);

}

#content
{
	background-color: #D2D0D0;
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 20px;
	color: black;
	text-align: justify;
}

.github
{
	margin-left: 200px;
	margin-right: 200px;
	margin-top: 200px;
	margin-bottom: 200px;
	text-align: center;
}

.github:hover
{
	cursor: pointer;
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

#footer
{
	background-color: #303030;
	margin-top: 20px;
	clear: both;	
	padding: 20px;
	font-family: 'Cutive', serif;
	font-size: 10px;
	color: white;
	text-align: center;
}

.ZSK
{
	font-size: 30px;
	margin-left: 250px;
	margin-right: 250px;
}

.ZSK:hover
{
	background-color: #29166F;
	cursor: pointer;
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);

}

a:link
{
	color: white;
	text-decoration: none;
}

a:visited
{
	color: #f1f1f1;
	text-decoration: none;
}